@charset "utf-8";

.wrap{
	width:100%;
	min-width:1349px;
	height:8770px;
	background-color:#f5f5f5;
	overflow:hidden;
}
/*header*/

.header{
	position:relative;
	width:100%;
	height:30px;
	/*border:1px solid red;*/
	font-size:12px;
	/*line-height:30px;*/
	background-color:#fff;
}
.loginBar-left{
	float:left;
	padding-left:50px;
}
.loginBar-left > a{
	float:left;
}
.loginBar-right{
	float:right;
	padding-right:30px;
}
.loginBar-right > a{
	float:left;
}
.loginBar > a{
	border-right:1px solid #a4a4a4;
	height:15px;
	margin:8px 0 0 0;
	text-align:center;
}
.loginBar-left .bar-1{
	width:56px;
}
.loginBar-left .bar-2{
	width:64px;
}
.loginBar-left .bar-3{
	width:76px;
}
.loginBar-left .bar-4{
	width:64px;
}
.loginBar-left .bar-5{
	width:79px;
}
.loginBar-left .bar-6{
	width:93px;
}
.loginBar-left .bar-7{
	position:relative;
	width:76px;
	height:18px;
	border:none;
	z-index:10000;
}
.loginBar-left .bar-7:after{
	content:"";
	position:absolute;
	left:65px;
	top:8px;
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#a4a4a4;
	
}
.code{
	position:absolute;
	top:19px;
	left:-89px;
	width:164px;
	height:285px;
	border:1px solid #eaeaea;
	box-shadow:0 0 10px 1px #dfdfdf;
	color:#000;
	background-color:#fff;
	z-index:9999;
	display:none;
}
.loginBar-left .bar-7:hover{
	box-shadow:0 4px 0 0 #fff,2px 0 10px 1px #dfdfdf,-2px 0 10px 1px #dfdfdf;
}
.loginBar-left .bar-7:hover .code{
	display:block;	
}
.loginBar-left .bar-7:hover:after{
	top:0px;
	width:0;
	height:0;
	border:5px solid transparent;
	border-bottom-color:#a4a4a4;
}
.code li:hover{
	color:red;
}
.code ul li{
	width:144px;
	height:32px;
	margin:0 10px;
	/*border:1px solid #000;*/
	line-height:32px;
}
.code ul .mar-top{
	margin-top:10px;
}
.code ul .code-img{
	height:100px;
	padding-top:30px;
}

/*头部的右边部分*/
.loginBar-right .bar-8{
	width:40px;
	border:none;
}
.loginBar-right .bar-9{
	width:29px;
}
.loginBar-right .bar-10{
	width:64px;
}
.loginBar-right .bar-11{
	width:109px;
	height:22px;
	border:none;
}
.bar-11 i{
	display:inline-block;
	width:20px;
	height:20px;
	background:url("../images/sprit.png") no-repeat 0 0;
	vertical-align:middle;
}
.gouwuche{
	position:absolute;
	top:30px;
	right:29px;
	width:460px;
	height:200px;
	border:1px solid #eaeaea;
	box-shadow:0 0 10px 1px #dfdfdf;
	color:#000;
	padding-top:30px;
	background-color:#fff;
	z-index:9999;
	display:none;
}
.bar-11:hover .gouwuche{
	display:block;	
}

/*顶部菜单*/
.top-menu{
	position:relative;
	width:100%;
	height:70px;
	border:1px solid #fff;
	background-color:#fff;
}
.content{
	width:100%;
	height:50px;
	margin:10px 0;
	/*border:1px solid #000;*/
	padding-left:74px;
}
.content img{
	float:left;
	cursor:pointer;
}
.content ul{
	width:570px;
	height:40px;
	margin:3px 0 0 238px;
}
.content ul .menu-1{
	float:left;
	width:64px;
	height:40px;
	/*border:1px solid red;*/
	margin-left:20px;
	font-size:15px;
	line-height:40px;
}
.content ul .menu-4{
	width:121px;
}
.content ul .menu-5{
	width:84px;
}
.content ul .menu-6{
	width:41px;
}

/*输入框*/

.form{
	position:absolute;
	top:15px;
	right:44px;
	width:340px;
	height:40px;
	/*border:1px solid red;*/
}
input{
	width:310px;
	height:27px;
	margin-top:10px;
	border:none;
	border-bottom:2px solid #a4a4a4;
	color:#a4a4a4;
}
input:focus{
	outline:none;
}
.form i{
	display:inline-block;
	width:20px;
	height:20px;
	background:url("../images/sprit.png") no-repeat 0 -23px;
}

/*轮播图*/

.banner{
	width:100%;
	height:450px;
	/*border:1px solid red;*/
	background:url("../images/banner.jpg") no-repeat center;
}
.banner-box{
	width:888px;
}
.navbar{
	width:240px;
	height:450px;
	/*border:1px solid red;*/
	margin-left:74px;
	background-color:rgba(0,0,0,.5);
}
.navbar > ul{
	position:relative;
}
.navbar li{
	width:220px;
	height:55px;
	/*border:1px solid #000;*/
	padding:20px 0 0 20px;
}
.navbar li a{
	color:#999;
}
.navbar li:hover > a{
	color:#fff;
}
.navbar li i{
	float:right;
	width:8px;
	height:14px;
	/*border:1px solid red;*/
	background:url("../images/sprit.png") no-repeat -9px -213px;
	margin-right:10px;
	vertical-align:middle;
}
.navbar li:hover i{
	background:url("../images/sprit.png") no-repeat -1px -213px;
}
.navbar li:hover{
	background-color:rgba(0,0,0,.6);
}
/*二级菜单*/

.submenu{
	position:absolute;
	top:-1px;
	left:240px;
	width:651px;
	height:450px;
	border:1px solid #eaeaea;
	background-color:#fff;
	z-index:888;
	display:none;
}
.navbar li:hover .submenu{
	display:block;
}
/*轮播图上切换圆点*/
.dot a{
	display:inline-block;
	width:12px;
	height:12px;
	border:1px solid #666;
	border-radius:50%;
	background:transparent;
	margin-left:7px;
}
.dot{
	text-align:center;
	margin-top:-40px;
}
.dot .dot-2{
	background:#fff;
}

/*轮播图下一块*/
.banner-bottom{
	width:100%;
	height:1309px;
	/*border:1px solid #000;*/
}
.icon-box{
	width:1200px;
	height:98px;
	margin:auto;
	border:1px solid #eaeaea;
	background-color:#fff;
}
.icon-box div{
	float:left;
}
.new-come{
	width:283px;
	height:66px;
	border-right:1px solid #000;
	margin-top:11px;
	padding:6px 0 0 5px;
}
.new-come img{
	float:left;
}
.welcome{
	float:left;
	width:188px;
	height:64px;
	font-size:12px;
	margin-left:20px;
	color:#a4a4a4;
}
.welcome a{
	color:#000;
}
.welcome a:hover{
	color:red;
	text-decoration:underline;
}
.welcome .bor{
	display:inline-block;
	width:58px;
	height:18px;
	border:1px solid red;
	margin:5px 0 0 10px;
	color:red;
	text-align:center;
}
.welcome .bor:hover{
	background-color:red;
	color:#fff;
	text-decoration:none;
}

.notice{
	width:302px;
	height:98px;
	border-left:1px solid #a4a4a4;
}
.notice a{
	color:#000;
}
.notice a:hover{
	color:red;
}
.icon-2 div{
	background-position:-40px 0;
}
.icon-3 div{
	background-position:-80px 0;
}
.icon-4 div{
	background-position:-120px 0;
}
.icon-5 div{
	background-position:-160px 0;
}
.icon-6 div{
	background-position:-200px 0;
}
.notice-top{
	width:301px;
	height:49px;
	line-height:48px;
	border-bottom:1px solid #a4a4a4;
}
.notice-top1{
	float:left;
	width:58px;
	height:48px;
	font-weight:bold;
	color:red;
}
.notice-top2{
	float:left;
	width:243px;
	height:48px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.notice-bottom div{
	float:left;
	width:100px;
	height:48px;
}
.notice-bottom i{
	display:inline-block;
	width:22px;
	height:18px;
	/*border:1px solid #000;*/
	margin-top:15px;
	background:url("../images/icon-img/1.png") no-repeat -240px 0;
	vertical-align:bottom;
}
.notice-bottom2 i{
	background-position:-260px 0;
}
.notice-bottom3 i{
	background-position:-280px 0;
}

/*四个图片盒子*/
.four-img{
	width:1212px;
	height:160px;
	margin:15px auto 0;
	/*border:1px solid #000;*/
}
.four-img div{
	float:left;
	width:291px;
	height:160px;
	/*border:1px solid blue;*/
	margin-left:12px;
}
.four-img .phone-1{
	margin-left:5px;
}

/*热销*/
.hot-sale{
	width:1200px;
	height:657px;
	/*border:1px solid red;*/
	margin:auto;
}
h2{
	width:1200px;
	height:67px;
	line-height:67px;
	font-size:25px;
	margin:auto;
}
.hot-sale .exhibition{
	width:1200px;
	height:590px;
	/*border:1px solid #000;*/
}
.exhibition > div{
	float:left;
}
.long-img{
	width:232px;
	height:590px;
	/*border:1px solid green;*/
}
.long-img:hover{
	margin-top:-2px;
	box-shadow:0 0 10px 3px #c7c7c7;
}
.exhibition .exhibition-1{
	width:968px;
	height:600px;
}
.exhibition-1 > div{
	height:290px;
}
.exhibition-1 .exhibition-2 img{
	width:134px;
	height:134px;
	margin-top:36px;
}
.exhibition-top{
	float:left;
}
.exhibition-bottom{
	float:left;
	margin-top:10px;
}
.exhibition-2{
	float:left;
	width:232px;
	height:290px;
	/*border:1px solid green;*/
	background-color:#fff;
	margin:0 0 11px 10px;
	text-align:center;
	cursor:pointer;
}

/*.exhibition .exhibition-1 .exhibition-2:hover{
	margin-top:-2px;
	box-shadow:0 0 10px 3px #eaeaea;
}*/


/*推荐*/
.recommend{
	position:relative;
	width:1200px;
	height:372px;
	margin:auto;
	/*border:1px solid red;*/
}
.recommend-1{
	width:1200px;
	height:305px;
	/*border:1px solid #000;*/
}
.recommend-1 ul{
	width:100%;
	height:100%;
	/*border:1px solid #000;*/
	white-space:nowrap;
	overflow:hidden;
}
.recommend-1 li{
	float:left;
	width:218px;
	height:290px;
	margin:5px 10px 0;
	background-color:#fff;
	border:1px solid #f5f5f5;
	text-align:center;
}
.recommend-1 li img{
	width:134px;
	height:134px;
	margin-top:40px;
	vertical-align:middle;
}
.recommend > a{
	display:inline-block;
	width:22px;
	height:75px;
	/*border:1px solid red;*/
	background-color:#d1d1d1;
	text-align:center;
	line-height:75px;
}
.recommend > a i{
	display:inline-block;
	width:11px;
	height:16px;
	/*border:1px solid red;*/
	background:url("../images/sprit.png") no-repeat -102px -1px;
}
.recommend .btn-right i{
	background-position:-110px 0;
}

/*左右按钮*/
.btn-left{
	position:absolute;
	left:10px;
	top:50%;
}
.btn-right{
	position:absolute;
	right:10px;
	top:50%;
}

/*广告条*/
.adv-1{
	width:1200px;
	height:120px;
	margin:20px auto 0;
	/*border:1px solid red;*/
}

/*产品*/
.product{
	width:1349px;
	height:6075px;
	/*border:1px solid red;*/
}
/*手机*/
.phone{
	width:1200px;
	height:776px;
	margin:auto;
	/*border:1px solid #000;*/
}
.contnet-1{
	width:1212px;
	height:716px;
}
.content-1 > div{
	width:1212px;
}

.content-1 div div div{
	float:left;
	width:291px;
	height:346px;
	/*border:1px solid blue;*/
	margin:0 12px 12px 0; 
	background-color:#fff;
	text-align:center;
}
.content-1 .no-mt img{
	margin-top:60px;
}
.bottom{
	margin-top:0px;
}
/*笔记本电脑*/
.note{
	width:1200px;
	height:418px;
	margin:auto;
	/*border:1px solid red;*/
}
.contnet-2{
	width:1212px;
	height:358px;
}
.content-2 > div{
	width:1212px;
}
.content-2 div div div{
	float:left;
	width:291px;
	height:346px;
	/*border:1px solid blue;*/
	margin:0 12px 12px 0; 
	background-color:#fff;
	text-align:center;
}
.content-2 .no-mt img{
	margin-top:60px;
}
/*精品平板*/
.flat{
	width:1200px;
	height:774px;
	margin:auto;
	/*border:1px solid yellow;*/
}
.contnet-3{
	width:1212px;
	height:716px;
}
.content-3 > div{
	width:1212px;
}

.content-3 div div div{
	float:left;
	width:291px;
	height:346px;
	/*border:1px solid blue;*/
	margin:0 12px 12px 0; 
	background-color:#fff;
	text-align:center;
}
.content-3 .no-mt img{
	margin-top:60px;
}
.bottom{
	margin-top:0px;
}
/*智能穿戴*/
.wear{
	width:1200px;
	height:772px;
	margin:auto;
	/*border:1px solid blue;*/
}
.contnet-4{
	width:1212px;
	height:716px;
}
.content-4 > div{
	width:1212px;
}

.content-4 div div div{
	float:left;
	width:291px;
	height:346px;
	/*border:1px solid blue;*/
	margin:0 12px 12px 0; 
	background-color:#fff;
	text-align:center;
}
.content-4 .no-mt img{
	margin-top:60px;
}
.bottom{
	margin-top:0px;
}
/*智能家具*/
.home{
	width:1200px;
	height:1082px;
	margin:auto;
	/*border:1px solid gray;*/
}
.contnet-5{
	width:1212px;
	height:716px;
}
.content-5 > div{
	width:1212px;
}

.content-5 div div div{
	float:left;
	width:291px;
	height:346px;
	/*border:1px solid blue;*/
	margin:0 12px 12px 0; 
	background-color:#fff;
	text-align:center;
}
.content-5 div div .width-img{
	width:594px;
}
.content-5 .no-mt img{
	margin-top:60px;
}
.bottom{
	margin-top:0px;
}
.btn-left2{
	position:absolute;
	left:10px;
	top:120px;
}
.btn-right2{
	position:absolute;
	right:10px;
	top:120px;
}
.recom{
	height:293px;
}

/*热销配件*/
.hot-parts{
	width:1200px;
	height:1081px;
	margin:auto;
	/*border:1px solid green;*/
}
.contnet-6{
	width:1212px;
	height:716px;
}
.content-6 > div{
	width:1212px;
}

.content-6 div div div{
	float:left;
	width:291px;
	height:346px;
	/*border:1px solid blue;*/
	margin:0 12px 12px 0; 
	background-color:#fff;
	text-align:center;
}
.content-6 div div .width-img{
	width:594px;
}
.content-6 .no-mt img{
	margin-top:60px;
}
.bottom{
	margin-top:0px;
}
/*品牌配件*/
.brand-parts{
	width:1200px;
	height:1081px;
	margin:auto;
	/*border:1px solid red;*/
}
.contnet-7{
	width:1212px;
	height:716px;
}
.content-7 > div{
	width:1212px;
}

.content-7 div div div{
	float:left;
	width:291px;
	height:346px;
	/*border:1px solid blue;*/
	margin:0 12px 12px 0; 
	background-color:#fff;
	text-align:center;
}
.content-7 div div .width-img{
	width:594px;
}
.content-7 .no-mt img{
	margin-top:60px;
}
.bottom{
	margin-top:0px;
}

/*15天包退*/
.tips{
	width:1347px;
	height:140px;
	border:1px solid #f0f0f0;
	margin-top:66px;
	background-color:#f0f0f0;
}
.day15{
	width:1200px;
	height:139px;
	margin:auto;
	/*border:1px solid blue;*/
}
.day15 ul{
	width:100%;
	height:100%;
	margin:46px 0;
}
.day15 ul li{
	float:left;
	width:300px;
	height:47px;
	/*border:1px solid #000;*/
	font-size:17px;
	cursor:pointer;
}
.day15 ul li i{
	display:inline-block;
	width:46px;
	height:46px;
	/*border:1px solid red;*/
	background:url("../images/sprit.png") no-repeat 0px -151px;
	vertical-align:middle;
}
/*尾部*/

.footer{
	width:1197px;
	height:188px;
	border-top:1px solid #e6e6e6;
	padding:30px 75px 0;
	background-color:#f0f0f0;
}
.footer-left{
	float:left;
	width:945px;
	height:169px;
}
.footer-left div{
	float:left;
	width:157px;
	height:145px;
}
.footer div div > span{
	display:inline-block;
	width:20px;
	height:0px;
	border:1px solid #000;
}
h6{
	height:40px;
	line-height:40px;
}
.footer-right{
	float:left;
	width:230px;
	height:169px;
	/*border:1px solid #000;*/
	padding:0 0 0 20px;
}
.footer-right div{
	width:143px;
	height:37px;
	background-color:#fff;
	margin-top:20px;
	padding-left:20px;
	line-height:37px;
	border-radius:5px;
	color:red;
}
.footer-right div i{
	display:inline-block;
	width:22px;
	height:25px;
	/*border:1px solid red;*/
	vertical-align:middle;
}
.footer div > span{
	display:inline-block;
	width:20px;
	height:0px;
	border:1px solid #000;
}
.kefu{
	background:url("../images/sprit.png") no-repeat -101px -20px;
}
.nogood{
	background:url("../images/icon2.png") no-repeat -383px 0px;
}

.finally{
	width:1347px;
	height:120px;
	border:1px solid #e6e6e6;
	background-color:#e6e6e6;
}
.vmall{
	float:left;
	width:79px;
	height:16px;
	/*border:1px solid red;*/
	background:url("../images/sprit.png") no-repeat -100px -45px;
	margin:50px 0 0 76px;
}
.copyright{
	float:left;
	width:628px;
	height:60px;
	/*border:1px solid red;*/
	margin:30px 0 0 60px;
	color:#000;
	font-size:12px;
	line-height:20px;
}
.copyright a{
	color:#000;
}
.police{
	padding-top:45px;
}
.fixed{
	position:fixed;
	right:0;
	top:500px;
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#666;
	z-index:9999;
}
.fixed div{
	width:18px;
	height:18px;
	background:url("../images/sprit.png") no-repeat -166px 3px;
	margin:8px auto;
}
.fixed2{
	position:fixed;
	right:0;
	top:450px;	
}
.fixed2 div{
	width:14px;
	background:url("../images/sprit.png") no-repeat -122px 3px;
	margin:12px auto;
}